---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import {Icon} from 'astro-icon'
---

<Layout title="Felix Zarate | Software Engineer">
  <main>
    <section>
      <div class="text-center md:mt-18 lg:mt-18 p-10">
        <p class="font-fira font-light text-sm md:text-base text-lightGreen pb-4">Hi, my name is</p>
        <h2 class="font-fira font-medium text-white text-4xl lg:text-6xl pb-2">Felix Zarate</h2>
        <h3 class="font-fira font-light text-gray-300 text-md md:text-xl py-2">Web Developer</h3>
        <p class="font-fira text-sm md:text-base lg:text-lg text-gray-400 py-5 leading-8 max-w-lg md:mx-auto lg:mx-auto">
          I enjoy building things for the web and creating great user experiences. 
        </p>
      </div> 
      <div class="flex justify-center gap-8">
        <a href="https://www.linkedin.com/in/felixzarate/" target="_blank"><Icon class=" text-gray-400 hover:text-gray-600 w-10 cursor-pointer" name="ion:logo-linkedin"/></a>
        <a href="https://github.com/felixzrte" target="_blank"><Icon class=" text-gray-400 hover:text-gray-600 w-10 cursor-pointer" name="ion:logo-github"/></a>
      </div>
    </section>
    <section class="py-20"> 
      <h2 class="font-fira font-medium text-3xl text-gray-300 text-center pb-12">Tech I Use</h2> 
      <div class="mx-auto flex flex-wrap justify-center gap-10">
        <div class="w-20 text-center">
          <Icon class="text-yellow-300" name="vscode-icons:file-type-js-official"/>
          <h3 class="font-fira text-gray-300 text-sm pt-2">Javascript</h3>
        </div>        
        <div class="w-20 text-center">
          <Icon class="text-orange-400" name="vscode-icons:file-type-html"/>
          <h3 class="font-fira text-gray-300 text-sm pt-2">HTML5</h3>
        </div>      
        <div class="w-20 text-center">
          <Icon class="text-blue-400" name="vscode-icons:file-type-css"/>
          <h3 class="font-fira text-gray-300 text-sm pt-2">CSS3</h3>
        </div>       
        <div class="w-20 text-center">
          <Icon class="text-yellow-300" name="vscode-icons:file-type-reactjs"/>
          <h3 class="font-fira text-gray-300 text-sm pt-2">React</h3>
        </div>       
        <div class="w-20 text-center">
          <Icon class="text-yellow-300" name="vscode-icons:file-type-tailwind"/>
          <h3 class="font-fira text-gray-300 text-sm pt-2">Tailwind</h3>
        </div>       
        <div class="w-20 text-center">
          <Icon class="text-yellow-300" name="vscode-icons:file-type-mysql"/>
          <h3 class="font-fira text-gray-300 text-sm pt-2">MySQL</h3>
        </div>       
        <div class="w-20 text-center">
          <Icon class="text-yellow-300" name="vscode-icons:file-type-node"/>
          <h3 class="font-fira text-gray-300 text-sm pt-2">Node</h3>
        </div>       
        <div class="w-20 text-center">
          <Icon class="text-yellow-300" name="vscode-icons:file-type-astro"/>
          <h3 class="font-fira text-gray-300 text-sm pt-2">Astro</h3>
        </div>       
        <div class="w-20 text-center">
          <Icon class="text-yellow-300" name="vscode-icons:file-type-typescript-official"/>
          <h3 class="font-fira text-gray-300 text-sm pt-2">Typescript</h3>
        </div>   
      </div>
    </section>
    <section class="py-24">
      <h2 class="font-fira font-medium text-3xl text-gray-300 text-center pb-12">My Projects</h2> 
      <div class="items-center justify-center flex flex-wrap mx-auto text-center">
        <Card title="Multicultural Council App" subhead="University Project" desc="React Native, Node, MongoDB, Express, CSS" link="https://www.youtube.com/watch?v=GJ5GAmRI_zk" link2="https://github.com/felixzrte/Multicultural-App-Backend" image="/mccapp.png"/>
        <Card title="Northern York County EMA" subhead="Internship Project" desc="Astro, HTML5, TailwindCSS, Typescript" link="https://www.nemapa.org" link2="https://github.com/felixzrte/nemasite" image="/nema.png"/>
        <Card title="My Portfolio" subhead="Personal Project" desc="Astro, HTML5, TailwindCSS, Typescript" link="https://felixz.dev/" link2="https://github.com/felixzrte/portfolio" image="/fz.png"/>
      </div>
    </section> 
  </main>
</Layout> 
